*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --purple-700:hsl(257, 40%, 49%);
    --magenta-400:hsl(300, 69%, 71%);
    --bg-desktop:url(./images/bg-desktop.svg);
    --bg-mobile:url(./images/bg-mobile.svg);
    --color:#fff;
}
body{
    background: var(--bg-desktop);
    background-color: var(--purple-700);
    color: var(--color);
    padding: 2em 2em 3em; 
    width:100%;
} 

.hero{
    display: flex;
    gap: 2rem;
    margin-top: 5em; 
}
.hero img{
    width: 55%;
}
.hero-text{
    display: flex;
    flex-direction: column; 
    gap: 1.2em;
    padding: 2.5em 0.8em;
    width: 40%;
}
.hero-text h1{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}
.hero-text p{
    font-family: 'Open Sans',sans-serif ;
}
button{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    width:40%;
    padding: 1em;
    border-radius: 3em;
}
 
#footer{
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    width: 100%;
}
#footer svg{
    width:20px;
    height:20px; 
    fill: #fff;
}
#footer .img{
    width:40px;
    height:40px;
    border: 1px solid whitesmoke;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
 
@media screen and (max-width: 768px) {
    body{
        background: var(--bg-mobile);
        background-color: var(--purple-700); 
    }
    .hero{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .hero img{
        width: 100%;
    }
    .hero-text{ 
        text-align: center;
        width: 100%; 
    }
    button{ 
        width:80%; 
        align-self: center;
    }

    #footer{ 
        justify-content: center; 
    } 
}